body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #839db6;
    margin: 0;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    text-shadow: -3px 3px rgb(0, 0, 0);
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: auto;
}

li {
    background: #faa622;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}